li:not(:last-of-type):has(a[is="blog-post-item"]) {
  border-block-end: 1px solid var(--fg-color);
}

li a[is="blog-post-item"] {
  display: block;
  margin-block: 0.5em;
}

li a[is="blog-post-item"] p {
  max-height: 4em;
  overflow-y: hidden;

  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
  --mask-image: linear-gradient(
    var(--bg-color) 0%,
    var(--bg-color) 50%,
    transparent 100%
  );
}

li a[is="blog-post-item"]:empty::before {
  content: "Loading preview for " attr(href) "…";
}
