/* layout */

body > nav {
  grid-area: nav;
}

@media (min-width: 1280px) {
  body > nav {
    justify-self: end;
    padding: 16px;
  }
}

/* nav */

nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 16px;
}
nav ul li {
  display: flex;
}
nav ul li img {
  display: flex;
  width: 32px;
  height: 32px;
}

/* utilities */
@media (prefers-color-scheme: dark) {
  .invert-if-dark {
    filter: invert();
  }
}
