/* layout */

body > nav {
  grid-area: 2 / main;
}
body > main {
  grid-area: 3 / main;
}

@media (min-width: 1280px) {
  body > nav {
    grid-area: 1 / right-gutter;
    justify-self: end;
    align-self: center;
    padding: 1em;
  }
  body > main {
    grid-area: 2 / main;
  }
}

/* nav */

nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1em;
}
nav ul li {
  display: flex;
}
nav ul li img {
  display: flex;
  width: 2em;
  height: 2em;
}
