/* theme */

:root {
  --bg-color: white;
  --fg-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #334444;
    --fg-color: white;
  }
}

/* resets */
ol,
ul,
li {
  display: block;
  margin: unset;
  padding: unset;
}

a {
  color: unset;
  text-decoration: unset;
}

/* QoL */

* {
  box-sizing: border-box;
}

/* document */

body {
  display: grid;
  grid-template:
    "left-gutter main            right-gutter"
    / 1fr /*  */ min(80ch, 90vw) 1fr;
  gap: 0.5em;
  /* Always show scroll bar to avoid horizontal jumps between pages with and without */
  overflow-y: scroll;

  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: sans-serif;
}

body > h1 {
  grid-area: 1 / main;
}
body > main {
  grid-area: 2 / main;
}

/* general blocks */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  margin-block: 0.5em;
}

h1 {
  padding-block-end: 0.25em;
  border-block-end: 1px solid var(--fg-color);
}

p {
  margin-block: 0.5em;
}
p a {
  text-decoration: underline;
}

code {
  border-radius: 0.5em;
  font-family: monospace;
}
